@import "./card-component.css";

/* 카드 레이아웃 */
.article-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* gap: 1.25rem; */
  /* margin: 1.25rem; */
}
.wide{
  grid-column: span 2;

}
.small{
  @media screen and (max-width:1024px){
    grid-column: span 2;
  }
}
