/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(../../common/modern-reset.css);
@import url(../../common/a11y.css);

:root{
  --color-white:#FFFFFF;
  --color-black-01:#333333;
  --color-black-02:#121212;
  --color-gray-snow:#e9f0fd;
  --color-gray-10:#DADADA;
  --color-gray-20:#999999;
  --color-warning:#FF1414;
  --color-primary-green:#03CF5D;
  --color-focus-blue:#e9f0fd;

  --font-size-12:.75rem;
  --font-size-14:.875rem;
  --font-size-16:1rem;

  --font-weight-400:400;
  --font-weight-700:700;

  --spacing-4:.25rem;
  --spacing-5:.3125rem;
  --spacing-10:.625rem;
  --spacing-12:.75rem;
  --spacing-16:1rem;
  --spacing-20:1.25rem;
  --spacing-24:1.5rem;
  --spacing-45:2.8125rem;

}

body{
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: var(--font-size-16);
  color: var(--color-black-02);
}

*:focus{
  outline-color: #24388d;
}


.login-page{
  --login-input-text-padding:var(--spacing-20);
  --login-input-font-size:var(--font-size-14);
  --login-input-font-color:var(--color-gray-20);
  --login-input-font-weight:var(--font-weight-400);

  --login-btn-back-color:var(--color-primary-green);
  --login-btn-block-padding:var(--spacing-20);
  --login-btn-font-size:var(--spacing-16);
  --login-btn-font-weight:var(--font-weight-700);
  --login-btn-font-color:var(--color-white);

  padding: var(--spacing-20);
  box-sizing: border-box;
  block-size: 100vh;
  inline-size: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  @media(min-width :768px){
    width: 500px;
    margin: 0 auto;
    padding: 0;
    

    .additional-btn{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  .naverlogo{
    margin-bottom: var(--spacing-45);
  }
  .login-form, .input-wrapper, .additional-btn{
    width: 100%;
  }
  .input-wrapper{
    margin-bottom: var(--spacing-10);
  }
  .id, .pw{
    width: inherit;
    border: .0625rem solid var(--color-gray-10);
    padding: var(--login-input-text-padding);
    font-size: var(--login-input-font-size);
    color: var(--login-input-font-color);
    font-weight: var(--login-input-font-weight);
    line-height: 21px;
    border-radius: 0;
  }

  .login-btn{
    border: none;
    width: inherit;
    background-color: var(--login-btn-back-color);
    padding: var(--spacing-20) 0;
    font-size: var(--login-btn-font-size);
    font-weight: var(--login-btn-font-weight);
    color: var(--login-btn-font-color);
    margin-top: var(--spacing-10);
  }
  .btn-wrapper{
    text-align: right;
    font-size: var(--font-size-14);
    margin-top: var(--spacing-12);
    line-height: 1.3125rem;
    display: flex;
    justify-content: flex-end;
  }
  .id:focus {
    outline: none;
    border: .0625rem solid var(--color-primary-green);
    background-color: var(--color-focus-blue);
    border-radius: 0;
  }
  .pw:focus {
    outline: none;
    border: .0625rem solid var(--color-primary-green);
    background-color: var(--color-focus-blue);
    border-radius: 0;
  }
 
  

  #logining[type="checkbox"] {
    appearance: none;
    box-sizing: border-box;
    width: var(--spacing-24);
    height: var(--spacing-24);
    background: url(../../assets/naverlogin/uncheck.svg) no-repeat 50% ;
    margin: 0 var(--spacing-4) 0 0;
  }
  #logining[type="checkbox"]:checked {
    background: url(../../assets/naverlogin/checked.svg) no-repeat;
    
  }
  
  .ip-btn{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;


    a{
      text-decoration: none;
      color: var(--color-black-02);
      font-size: var(--font-size-14);
    }

    

    [type="checkbox"]{
      appearance: none;

      &::after{
      content: "on";
      font-size: var(--font-size-14);
      line-height: 1.3125rem;
      color: var(--color-primary-green);
      font-weight: var(--font-weight-700);
      outline: none;
    }
    
    &:checked::after{
      content: "off";
      color: var(--color-gray-20);
      }
    }

    
  }
  .pc-only{
    @media(max-width :768px){
      display: none;
    }
  }
  
}
